@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Merriweather", serif;
}

:root {
  font-family: "Merriweather", serif;
}

.container {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.swiper_container {
  height: 30rem; 
  padding: 1.5rem 0;
  position: relative;
}

.swiper-slide {
  width: 20rem; 
  height: 25rem; 
  position: relative;
  opacity: 0.6; 
  transition: opacity 0.1s ease; 
}

.swiper-slide img {
  width: 20rem; 
  height: 25rem;
  border-radius: 1.5rem;
  object-fit: cover;
}

.swiper-slide-active {
  opacity: 1 !important; /* Full opacity for active slide */
}

/* Custom Arrows */
.slider-arrow-right {
  background-color: #eca2009d; 
  color: rgb(0, 0, 0);
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  left: 1.4rem;
}

.slider-arrow-left {
  background-color: #00000091; 
  color: white;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  right: 1.4rem;
}

.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: yellow;
}

/* Responsive Styles */
@media (max-width: 500px) {
  .swiper_container {
    height: 30rem;
  }
  .swiper-slide {
    width: 22rem !important;
    height: 28rem !important;
  }
  .swiper-slide img {
    width: 22rem !important;
    height: 28rem !important;
  }
}


